@model IEnumerable<Car>

@{
    ViewBag.Title = "Viewbags title ";
}

@if (Model.Count() > 0) {
    <table class="table small table-stripped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Manufacturer</th>
                <th>Max Speed (M/H)</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Car car in Model)
            {
                @if (car.BasePrice < 1000)
                {
                    <tr>
                        <td>@car.Name</td>
                        <td>@car.Description</td>
                        <td>@car.Manufacturer</td>
                        <td>@car.MaxSpeedInMPH (M/H)</td>
                        <td>@car.BasePrice.ToString("c")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
} else
{
    <h2>No cars available!</h2>
}